{% extends "main.html" %}

{% block tabs %}
  {{ super() }}

  <style>.md-header{position:initial}.md-main__inner{margin:0}.md-content{display:none}@media screen and (min-width:60em){.md-sidebar--secondary{display:none}}@media screen and (min-width:76.25em){.md-sidebar--primary{display:none}}</style>

  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__image">
          <img src="images/cover.webp" alt="" width="1659" height="1200" draggable="false">
        </div>
        <div class="mdx-hero__content">
          <div class="image-container">
            <img src="images/openterface-mini-kvm-v1-9-s.webp" alt="Openterface Mini-KVM 产品" width="460" draggable="false">
          </div>
          <a href="{{ 'https://www.crowdsupply.com/techxartisan/openterface-mini-kvm' | url }}" title="预购" class="md-button md-button--primary">
            立即预购！ <img src="images/trademark/crowd-supply.svg" alt="群众供应" style="vertical-align: middle; height: 26px;">
          </a>
          <a href="{{ 'https://www.crowdsupply.com/techxartisan/usb-kvm-diy-challenge-2024' | url }}" title="挑战" class="md-button" style="background-color: #ff4500; color: #fff; font-weight: bold; border: 2px solid #ff4500; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); animation: pulse 1.5s infinite;">
            DIY 挑战
          </a>
          <p>自己动手打造 <strong>USB KVM</strong> & 赢得不可思议的奖品！ 🏆</p>
        </div>
      </div>
    </div>
  </section>

  <section class="dialogue-section-white" id="app">
    <h2>安装主机应用</h2>
    <div class="container">
        <img src="/images/product/win_qt_app.webp" alt="海报图片" class="poster-image-shadow" loading="lazy">
    </div>
    <div class="callout-button-container">
        <div class="dialogue-bubble" id="op-bubble">
            <img src="/images/trademark/win.svg" alt="头像" class="avatar" draggable="false">
            <p>Windows</p>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT.windows.amd64.installer.exe" class="md-button md-button--primary" id="join-waitlist-button">安装包 {{ config.extra.qt_version }}</a>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT-portable.exe" class="md-button md-button--primary" id="join-waitlist-button">便携式EXE {{ config.extra.qt_version }}</a>
        </div>
        <div class="dialogue-bubble" id="op-bubble">
            <img src="/images/trademark/app-store.svg" alt="头像" class="avatar" draggable="false">
            <p>macOS</p>
            <a href="/appstore" class="md-button md-button--primary" id="join-waitlist-button">App Store v{{ config.extra.macos_version }}</a>
        </div>
        <div class="dialogue-bubble" id="op-bubble">
            <img src="/images/trademark/linux.svg" alt="头像" class="avatar" draggable="false">
            <p>Linux</p>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT.linux.amd64.deb" class="md-button md-button--primary" id="join-waitlist-button">AMD64 DEB {{ config.extra.qt_version }}</a>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT.linux.amd64.rpm" class="md-button md-button--primary" id="join-waitlist-button">AMD64 RPM {{ config.extra.qt_version }}</a>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT.linux.arm64.deb" class="md-button md-button--primary" id="join-waitlist-button">ARM64 DEB {{ config.extra.qt_version }}</a>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT.linux.arm64.rpm" class="md-button md-button--primary" id="join-waitlist-button">ARM64 RPM {{ config.extra.qt_version }}</a>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT" class="md-button md-button--primary" id="join-waitlist-button">源代码</a>
        </div>
        <div class="dialogue-bubble" id="op-bubble">
            <img src="/images/trademark/android.svg" alt="头像" class="avatar" draggable="false">
            <p>Android</p>
            <a href="https://github.com/TechxArtisanStudio/Openterface_Android/releases/download/{{ config.extra.android_version }}/OpenterfaceAndroid-release.apk" class="md-button md-button--primary" id="join-waitlist-button">apk {{ config.extra.android_version }}</a>
        </div>
    </div>
    <p>和 <a href="/app" style="color: var(--md-primary-fg-color);">更多</a>。</p>
  </section>

  <section class="product-close-up" id="product-close-up">
    
    <div class="container">

      <div class="product-close-up-content">
        <div class="product-image">
          <img src="images/product/use-case-demo-respberry-pi.jpg" alt="产品特写" loading="lazy">
        </div>
        <div class="product-description">
          <p>使用 Openterface Mini-KVM 提升你的技术工具箱： 
            <strong>一个紧凑、功能丰富、开源的 KVM-over-USB</strong> 解决方案，简化了你的技术生活，提供了即时的 IT 任务和故障排除。
          </p>
        </div>
      </div>
  
      <div class="product-close-up-content reverse-layout">
        <div class="product-image">
          <img src="/images/product/use-case-demo-industrial-pc.webp" alt="预发售海报" loading="lazy">
        </div>
        <div class="product-description">
          <p> <strong>再见，那个额外的监视器、键盘和鼠标！</strong>
            将你的笔记本电脑变成一个智能 KVM 控制台，通过 HDMI 和 USB 控制任何无头设备。
          </p>
        </div>
      </div>
    </div>

  </section>

  <section class="icon-section" id="icon">
    <div class="icon-container">
        <h2>特征</h2>
        <div class="icon-grid">
            <div class="icon-item">
              <img src="images/feature-icons/icon-plug-and-play.svg#only-light" alt="插即用图标">
              <img src="images/feature-icons/icon-plug-and-play-d.svg#only-dark" alt="插即用图标">
              <p>插即用</p>
            </div>
            <div class="icon-item">
                <img src="images/feature-icons/icon-bios-access.svg#only-light" alt="BIOS 访问图标">
                <img src="images/feature-icons/icon-bios-access-d.svg#only-dark" alt="BIOS 访问图标">
                <p>BIOS 访问</p>
            </div>
            <div class="icon-item">
                <img src="images/feature-icons/icon-network-free.svg#only-light" alt="无网络图标">
                <img src="images/feature-icons/icon-network-free-d.svg#only-dark" alt="无网络图标">
                <p>无网络</p>
            </div>
            <div class="icon-item">
                <img src="images/feature-icons/icon-text-transfer.svg#only-light" alt="文本传输图标">
                <img src="images/feature-icons/icon-text-transfer-d.svg#only-dark" alt="文本传输图标">
                <p>文本传输</p>
            </div>
            <div class="icon-item">
                <img src="images/feature-icons/icon-usb-switch.svg#only-light" alt="USB 切换图标">
                <img src="images/feature-icons/icon-usb-switch-d.svg#only-dark" alt="USB 切换图标">
                <p>USB 切换</p>
            </div>
            <div class="icon-item">
              <img src="images/feature-icons/icon-more.svg#only-light" alt="更多图标">
              <img src="images/feature-icons/icon-more-d.svg#only-dark" alt="更多图标">
              <p>和 <a href="/features" style="color: var(--md-primary-fg-color);">更多</a>。</p>
          </div>
        </div>
    </div>
  </section>

  <section class="feature-dev-test" id="feature-dev-test">
    <div class="container">
      <h2>产品预览</h2>
      <div class="videos-wrapper">
        <div class="video-container">
          <iframe width="560" height="315" loading="lazy" src="https://www.youtube.com/embed/ZZ5P6MnBcHw?si=Ny7OUeid4Wnu_YqV" title="介绍视频" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="video-container">
          <iframe width="560" height="315" loading="lazy" src="https://www.youtube.com/embed/K0EuMSQEwKo?si=MEHPtBsCP5pSerD2" title="Windows 版本测试应用" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="video-container">
          <iframe width="560" height="315" loading="lazy" src="https://www.youtube.com/embed/xAEQpWyfY-c?si=7aMQoJ-1bBI5Hicw" title="产品评论" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
  
  <section class="blog" id="blog">
    <div class="container">
      <h2>最新动态</h2>
      <div class="blog-list">
        <div class="post">
          <h3><a href="/blog/想挑战diy吗来参加oshwa的展示会吧/">想挑战DIY吗？来参加OSHWA的展示会吧！</a></h3>
          <p class="date">2024/10/01</p>
        </div>
        <div class="post">
          <h3><a href="/blog/克服障碍进展更新与新时间表/">克服障碍：进展更新与新时间表</a></h3>
          <p class="date">2024/08/23</p>
        </div>
        <div class="post">
          <h3><a href="/blog/从拆解到生产我们在前进/">从拆解到生产：我们在前进！</a></h3>
          <p class="date">2024/07/16</p>
        </div>
      </div>
      <a href="{{ '/blog' | url }}" title="阅读更多" class="md-button md-button--primary read-more-btn">
        阅读更多
      </a>
    </div>
  </section>

  <a rel="me" href="https://mastodon.social/@youyoubilly" style="display:none;">Mastodon</a>

{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}