{% extends "base.html" %}

{% block extrahead %}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/custom.css' | url }}">
  <link rel="stylesheet" href="{{ 'assets/stylesheets/signup_form.css' | url }}">
  <!-- Gibby 头像和对话框 -->
  <div class="gibby-container">
    <a href="#form_signup" class="gibby-link"><img src="https://assets.openterface.com/images/op-avatar.webp" alt="Gibby吉祥物" class="gibby-avatar" draggable="false" aria-label="Gibby 吉祥物"></a>
    <div class="gibby-dialogue">
      <p>
        <a href="#form_signup" class="gibby-link" data-i18n="main.subscribenow-link">订阅吧!</a>
      </p>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://assets.openterface.com/js/custom.min.js"></script>
{% endblock %}